<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>me.jeffkeeling.tabRestorer</string>
			<key>CFBundleShortVersionString</key>
			<string>1.5.3</string>
			<key>CFBundleVersion</key>
			<string>1.5.3</string>
			<key>Developer Identifier</key>
			<string>66592HUJRV</string>
			<key>URL</key>
			<string>https://github.com/jeffkeeling/tabrestorer/releases/download/v1.5.1/tabrestorer.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
